:host(){
    --dark-blue:#0b0d21;
    --light-white:#fafafa;
    --light-blue:#4f7df9;
    --light-pink:#e91e63;
    --size-16:16px;
    --size-14:14px;
    --size-12:12px;
}
.box{
    max-width: 420px;
    text-align: center;
    margin: auto;
    background-color: #0b0d21;
    color: var(--light-white);
    padding: 16px;
    border-radius: 38px;
}
